#!/usr/bin/env bash

if [[ $EUID -ne 0 ]]; then
   echo "This script must be run as root" 
   exit 1
fi


# default to 1 (on)
DEBUG="${DEBUG:-1}"

debug_print() {
  if [[ $DEBUG -eq 1 ]]; then
    echo "****** " "$@"
  fi
}


#-------------------------
## connect
#-------------------------
debug_print "Starting l2tp"
mkdir -p /var/run/xl2tpd
touch /var/run/xl2tpd/l2tp-control

debug_print "Restarting services"
service strongswan restart
service xl2tpd restart

debug_print "Bringing ipsec up"
ipsec up {{ vpn_name }}

echo "c {{ vpn_name }}" > /var/run/xl2tpd/l2tp-control

#-------------------------
## set up routes
#-------------------------
local_gw=$(ip route | perl -lane 'print "$1" if /default via (\d+.\d+.\d+.\d+)\s/')

# Exclude your VPN server's IP from the new default route
debug_print "Force route VPN server IP through local gw"
route add {{ vpn_server_ip }} gw "${local_gw}"


## wait for interface to come up
debug_print "Waiting for ppp0 interface to come up"
until ip a | grep ppp0
do
  sleep 1
done

echo "*** VPN interface found"


{% if vpn_def_route is defined and vpn_def_route %}
## add default route
debug_print "Adding default route for ppp0"
echo "*** Adding default route"
until route add default dev ppp0
do
  sleep 1
done
debug_print "Default route via VPN added"
sleep 2
{% endif %}



{% if vpn_routes is defined %}
{% for route in vpn_routes %}
debug_print "Adding route for {{ route }}"
until ip route add "{{ route }}" dev ppp0
do
  sleep 1
done
debug_print "Route for {{ route }} successfully added."

{% endfor %}
{% endif %}
