#!/usr/bin/env bash

if [[ $EUID -ne 0 ]]; then
   echo "This script must be run as root" 
   exit 1
fi



#-------------------------
## connect
#-------------------------
mkdir -p /var/run/xl2tpd
touch /var/run/xl2tpd/l2tp-control

service strongswan restart
service xl2tpd restart

ipsec up {{ vpn_name }}

echo "c {{ vpn_name }}" > /var/run/xl2tpd/l2tp-control

#-------------------------
## set up routes
#-------------------------
local_gw=$(ip route | perl -lane 'print "$1" if /default via (\d+.\d+.\d+.\d+)\s/')

# Exclude your VPN server's IP from the new default route
route add {{ vpn_server_ip }} gw "${local_gw}"

until ip a | grep ppp0
do
  sleep 1
done

echo "*** VPN interface found"

until route add default dev ppp0
do
  sleep 1
done

echo "*** Default route via VPN added"

wget -qO- http://ipv4.icanhazip.com; echo


